/*
@import url("/a/font-mukta.css");
@import url("/a/font-shobhika.css");
@import url("/a/font-siddhanta.css");
*/
@import url("/a/font-notosans.css");

:root {
	/*
	--font: Mukta
	--font: Siddhanta
	--font: Shobhika
	*/
	--font: 'Noto Sans';

	--a-color-primary: oklch(40% 0.1 347);
	--a-color-secondary: oklch(50% 0.2 270);
	--a-color-tertiary: oklch(85% 0.1 288);

	--saf-0-hue: 30;
	--saf-1-hue: 45;
	--saf-2-hue: 60;
	--saf-3-hue: 75;
	--saf-4-hue: 90;

	--blue-0-hue: 195;
	--blue-1-hue: 210;
	--blue-3-hue: 255;

	--pink-0-hue: 300;
	--pink-1-hue: 315;
	--pink-2-hue: 330;
	--pink-3-hue: 345;

	--hue: var(--saf-1-hue);

	--chroma: 50%;
	--chroma-light: var(--chroma);
	--chroma-dark: var(--chroma);

	--cl-000: oklch(0% var(--chroma-light) var(--hue));
	--cl-100: oklch(10% var(--chroma-light) var(--hue));
	--cl-200: oklch(20% var(--chroma-light) var(--hue));
	--cl-300: oklch(30% var(--chroma-light) var(--hue));
	--cl-400: oklch(40% var(--chroma-light) var(--hue));
	--cl-500: oklch(50% var(--chroma-light) var(--hue));
	--cl-600: oklch(60% var(--chroma-light) var(--hue));
	--cl-700: oklch(70% var(--chroma-light) var(--hue));
	--cl-800: oklch(80% var(--chroma-light) var(--hue));
	--cl-900: oklch(90% var(--chroma-light) var(--hue));
	--cl-max: oklch(100% var(--chroma-light) var(--hue));

	--cd-000: oklch(0% var(--chroma-dark) var(--hue));
	--cd-100: oklch(10% var(--chroma-dark) var(--hue));
	--cd-200: oklch(20% var(--chroma-dark) var(--hue));
	--cd-300: oklch(30% var(--chroma-dark) var(--hue));
	--cd-400: oklch(40% var(--chroma-dark) var(--hue));
	--cd-500: oklch(50% var(--chroma-dark) var(--hue));
	--cd-600: oklch(60% var(--chroma-dark) var(--hue));
	--cd-700: oklch(70% var(--chroma-dark) var(--hue));
	--cd-800: oklch(80% var(--chroma-dark) var(--hue));
	--cd-900: oklch(90% var(--chroma-dark) var(--hue));
	--cd-max: oklch(100% var(--chroma-dark) var(--hue));

	--color-light-text: var(--cl-200);
	--color-light-text-alt: var(--cl-600);
	--color-light-sep: var(--cl-200);
	--color-light-link: var(--cl-400);
	--color-light-meta: var(--cl-600);
	--color-light-back: var(--cl-max);

	--color-dark-text: var(--cd-max);
	--color-dark-text-alt: var(--cd-700);
	--color-dark-sep: var(--cd-max);
	--color-dark-link: var(--cd-800);
	--color-dark-meta: var(--cd-500);
	--color-dark-back: var(--cd-100);

	--color-text: light-dark(var(--color-light-text), var(--color-dark-text));
	--color-text-alt: light-dark(var(--color-light-text-alt), var(--color-dark-text-alt));
	--color-back: light-dark(var(--color-light-back), var(--color-dark-back));
	--color-link: light-dark(var(--color-light-link), var(--color-dark-link));
	--color-meta: light-dark(var(--color-light-meta), var(--color-dark-meta));
	--color-sep: light-dark(var(--color-light-sep), var(--color-dark-sep));

	--padding-horz: 2%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*, html, body, header, main, footer, div, p, h1, h2, h3, h4, h5, h6, span, em, ul, ol, li, table, tr, th, td, section {
	margin: 0;
	padding: 0;
}

a {
	color: var(--color-link);
	text-underline-offset: 0.25em;
	text-decoration-thickness: 1px;
}

em {
	font-style: normal;
	font-weight: 700;
}

svg {
	fill: var(--color-text);
}

html {
	color-scheme: light dark;
	color: var(--color-text);
	background-color: var(--color-back);
}

body {
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	width: 100%;
	font-size: 1rem;
	font-family: var(--font), sans-serif;

	display: flex;
	flex-direction: column;
}

header, footer, main {
	padding-left: var(--padding-horz);
	padding-right: var(--padding-horz);
}

@scope (header) {
	:scope {
		position: sticky;
		top: 0;

		flex: 0 1 auto;

		background-color: var(--color-back);
		border-bottom: 1px solid var(--color-sep);
	}

	.logo {
		display: block;
		vertical-align: top;
		margin-top: -1em;
		margin-bottom: 0.25em;
		h1 {
			font-size: 1em;
			margin-left: 0.5em;
			font-weight: 700;
		}
		p {
			font-size: 0.5em;
		}
	}

	.prayer {
		text-align: center;
		color: var(--color-text-alt);
		font-size: 0.5em;
		font-weight: 700;
		vertical-align: top;
	}

	.icon {
		padding: 0;
		position: absolute;
	    top: 0.25em;
		right: var(--padding-horz);
	    width: 1em;
	    height: 1em;
	}
}

footer {
	flex: 0 1 auto;

	font-size: 0.5em;
	text-align: right;
	vertical-align: middle;

	min-height: 1em;
}

main {
	flex: 1 1 auto;
	min-height: 90svh;

	& nav {
		font-size: xx-small;
	}
}

@scope (#copyright) {
	img {
		height: 20px !important;
		margin-left: 1px;
		padding-top: 3px;
	}
}

a-document, a-sec {
	display: block;
}
@scope (a-document) {
	p, ul {
		margin-bottom: 0.5em;
	}

	a-title, a-author, a-meta, a-copyright, a-source, a-note, a-category {
		display: block;
		text-align: center;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	a-sec {
		margin-top: 0.5em;
		& p {
			text-indent: 2em;
		}
	}

	a-title,
	a-h {
		line-height: 1;
		font-size: 2em;
		font-weight: 700;
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}

	a-meta {
		color: var(--color-meta);
		font-size: 0.5em;
	}

	a-source,
	a-copyright {
		text-align: right;
		color: var(--color-meta);
		font-size: 0.5rem;
	}

	a-source::before {
		content: "Source: ";
	}

	a-copyright::before {
		content: "Copyright: ";
	}

	a-t, a-corr, a-sic {
		display: inline;
	}

	a-sic {
		text-decoration: line-through;
		color: var(--color-text);
	}

	a-v {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		display: block;
		text-align: center;
		color: var(--color-text);
	}

	li {
		margin-left: 1em;
		padding-left: 0.25em;
		color: var(--color-sep);
	}

	hr {
	    text-align: center;
	    width: 20%;
		margin: 0.5em auto;
	    border: 1px solid var(--color-sep);
	}
}

::marker {
	content: '✦';
}

@media screen and (min-width: 480px) {
	:root {
		--padding-horz: 15%;
	}

	a-sec {
		column-count: 2;
	}
}
